<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="../src/js/index.js"></script>
	<link rel="stylesheet" href="../src/css/index.css" />
	<title>Ambedkar Institute of Advanced Communication Technologies & Research</title>
	<style>
		span {
			font-size: 1rem;
		}

		p {
			font-size: 0.75rem;
		}

		table,
		th,
		td,
		tr {
			padding: 5px;
			text-align: center;
			font-size: 0.65rem;
			border: 1px solid black;
		}
	</style>
</head>

<body>
	<div class="container">
		<div id="headbar">
			<script>

				$("#headbar").load("./headbar.html");
			</script>
		</div>

		<div class="row mt-1 ">
			<div id="Menu" class="col-md-3 col-12">
				<script>
					$("#Menu").load("./mainMenu.html");
				</script>
			</div>
			<div class="col-md-9 col-12">
				<strong>Ambedkar Institute of Advanced Communication Technologies &amp; Research</strong>
				<img src="../src/img/campus-collg.png" class="img-fluid" width="80%" />

				<p class="mt-4">
					AIACTR is functioning from its Campus located at Geeta Colony, East Delhi.The Institute has an area
					of
					8.5acres at Geeta colony in which a State-of-Art Campus with ultra-modern facilities and lush green
					ambiance
					all around is built.
				</p>
				<p class="mt-2">
					The foundation Stone of the new campus was laid by the Honorable Chief Minister of Delhi Mrs. Sheila
					Dixit on
					24th May 2006. The campus was build in a record time of 18 months by the PWD. The College is having
					facilities
					like Centralized Air-Conditioning, RO System, lush green playground, Rain harvesting system, nursery
					etc.
				</p>
				<b>
					Details
				</b>
				<p>
					At Present Delhi has various reputed Engineering Institutes like IIT, DCE, NSIT and Govt. / Private
					Institutes
					affiliated to GGSIP University. To cater to the needs of technical education due to the growth of
					manpower,
					AIACTR was started in 2001 with 30 intakes each in ECE and CSE branch. One batch has already passed
					during
					2005 with excellent campus placement, it is envisaged that more technical manpower will be required.
					Due to
					high growth of population a number of Multi National Companies have come up in and around Delhi. To
					cater the
					needs of these industries large technical manpower is required.
				</p>
				<p>The College vision is to become an Institute of Excellence in the field of Post-Graduate Engineering.
					AIACTR
					presently offers four M.Tech programs as per the details given below</p>
				<ol style="font-size: 0.75rem">
					<li>Information Security</li>
					<li>Digital Communication</li>
					<li>Signal processing</li>
					<li>R F &amp; Microwave Engineering</li>
				</ol>
			</div>
		</div>
	</div>
</body>

</html>