<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="../src/js/index.js"></script>
  <link rel="stylesheet" href="../src/css/index.css" />
  <title>Ambedkar Institute of Advanced Communication Technologies & Research</title>
  <style>
    span {
      font-size: 1rem;
    }

    p {
      font-size: 0.8rem;
    }
  </style>
</head>

<body>
  <div class="container">
    <div id="headbar">
      <script>
        $("#headbar").load("./headbar.html");
      </script>
    </div>

    <div class="row mt-1 ">
      <div id="Menu" class="col-md-3 col-12">
        <script>
          $("#Menu").load("./mainMenu.html");
        </script>
      </div>
      <div class="col-md-9 col-12">
        <div class="dropdown-divider"></div>
        <strong><span>College Address: </span></strong>
        <br />
        Ambedkar Institute of Advanced Copmmunication Technologies & Research.
        <br />
        Geeta Colony
        <br />
        Dellhi-110031

        <strong><span>Sect. DTTE Adress :</span></strong>
        <p>Near PIT, Muni Maya Ram Jain Marg, Guru Govind Singh College</p>
        <p>Pitam Pura, Delhi, 110034</p>

        <div class="dropdown-divider"></div>
        <strong><span>How to reach us by Metro :-</span></strong>
        <ul>
          <li>
            Reach kashmiri gate metro station (Yellow line) and change the metro to shastri park station (Red line).
            Take Gramin seva auto to college premises.
          </li>
          <li>
            Reach Lakshmi Nagar Metro Station from there direct bus can be taken.
          </li>
          <li>
            Reach Nirman vihar metro take Gramin seva auto to jheel chowk from there campus is on walking distance of 5
            mins.
          </li>
        </ul>
        <div class="dropdown-divider"></div>
        <strong><span>AIACTR office</span></strong>
        <p>
          <a href="tel:01121210161"> 011 21210161</a> Principal Office <br />
          <a href="tel:01121210162"> 011 21210162</a> Admin Office <br />
          <a href="tel:01121210164"> 011 21210162</a> OS Office <br />
          <a href="tel:01121210164"> 011 21210164</a> Traning and Placements Office
        </p>
        <strong>Social Media Links</strong>
        <br />
        <a class="fa fa-facebook-square" href="https://www.facebook.com/aiactr.dtte.5" style="font-size: 1.7rem"></a>
        <a class="fa fa-twitter-square" href="https://twitter.com/aiactr" style="font-size: 1.7rem; color:#1b9cbe;"></a>
      </div>
    </div>
  </div>
</body>

</html>