<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="../src/js/index.js"></script>
  <link rel="stylesheet" href="../src/css/index.css" />
  <title>Ambedkar Institute of Advanced Communication Technologies & Research</title>
  <style>
    h2,
    h4 {
      font-family: "Times New Roman", Times, serif;
      font-weight: bold;
      font-size: 1.2rem;
    }

    .mission {
      font-size: 1rem;
    }
  </style>

  <script>
    function showdata() {
      var ids = event.target.id
      $(".btn").removeClass("btn-primary")
      $("#" + ids).addClass("btn-primary")
      $(".details").css("display", "none")
      $("." + ids).css("display", "block")
    }
  </script>
</head>

<body>
  <div class="container">
    <div id="headbar">
      <script>
        $("#headbar").load("./headbar.html");
      </script>
    </div>

    <div class="row mt-1 ">


      <div id="Menu" class="col-md-3 col-12">
        <script>
          $("#Menu").load("./mainMenu.html");
        </script>
      </div>

      <div class="col-md-9 col-12">
        <div style="border: black solid 0.02px; border-bottom:none;">
          <h4 align="center">Govt. Of Delhi</h4>
          <h2 align="center">Ambedkar Institute of Advanced Communication Technologies &amp; Research</h2>
          <br />
          <h5 align="center">Geeta Colony, Delhi-110031.</h5>
        </div>

        <div>
          <button id="cse" type="button" class="btn btn-primary btn-sm" onclick="showdata()">CSE Departments</button>
          <button id="ece" type="button" class="btn btn-sm" onclick="showdata()">ECE Departments</button>
          <div class="cse details">
            <br />
            <p><b>Computer Science and Engineering Department</b></p>
            <b style="margin: 50%; color:red">VISION</b>
            <p style="font-size: 0.8rem;">Imparting Quality Technological Education in the field of Electronics and
              Communication with Emphasis on Industry Oriented Needs, Research, Ethics and Human Values.&nbsp;</p>
            <b style="margin: 50%; color:red">MISSION</b>
            <p>
              <ol>
                <li class="mission">To strive for imparting Quality Technical Education in the field of Computer Science
                  and Engineering with latest amenities.</li>
                <li class="mission">To strive for providing solutions to industry oriented needs in the field of
                  Computer Science and Engineering.</li>
                <li class="mission">To strive for contributing Quality Research in relevant areas of Computer Science
                  and Engineering such as Information Security, Data Mining and Data Warehousing, Wireless
                  Networks,Language Processing , Software Testing and Semantic Web.</li>
                <li class="mission">To implant awareness for promotion of ethics and human values among students.</li>
              </ol>
            </p>

          </div>
          <div class="ece details" style="display: none">
            <br />
            <p><b>Electronics and Communication Engineering Department</b></p>
            <b style="margin: 50%; color:red">VISION</b>
            <p style="font-size: 0.8rem;">Imparting Quality Technological Education in the field of Electronics and
              Communication with Emphasis on Industry Oriented Needs, Research, Ethics and Human Values.&nbsp;</p>
            <b style="margin: 50%; color:red">MISSION</b>
            <p>
              <ol>
                <li class="mission">To strive for imparting quality technological education in the field of Electronics
                  and Communication with latest facilities.</li>
                <li class="mission">To strive for providing solutions to industry oriented needs in the field of
                  Electronics and Communication Engineering.</li>
                <li class="mission">To strive for contributing quality research in relevant areas of Electronics and
                  Communication Engineering such as Signal Processing, Digital&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                  &nbsp; </li>
                <li class="mission">To inculcate awareness for promotion of ethics and human values among students.</li>
              </ol>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>