<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="../src/js/index.js"></script>
  <link rel="stylesheet" href="../src/css/index.css" />
  <title>Ambedkar Institute of Advanced Communication Technologies & Research</title>
  <style>
    span {
      font-size: 1rem;
    }

    p {
      font-size: 0.8rem;
    }

    table,
    th,
    td,
    tr {
      padding: 5px;
      text-align: center;
      font-size: 0.65rem;
      border: 2px solid black;
    }
  </style>
</head>

<body>
  <div class="container">
    <header>
      <div class="col-12">
        <img src="../src/img/logo.jpg" class="img-fluid" />
      </div>
    </header>

    <nav id="nav" class="navbar navbar-dark navbar-expand-md bg-primary sticky-top">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse navbar-fixed-top " id="Navbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a href="../index.html" class="nav-link pl-2 " style="margin-left:-20px ">
              Home
            </a>
          </li>

          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle pl-2" role="button" data-toggle="dropdown">
              AIACTR
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="./aboutus.html">About Us</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle pl-2 " role="button" data-toggle="dropdown">
              Academic
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="./department.html">Departments</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Faculty Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Technical Staff</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Non Technical Staff</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">TRF</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Syllabus</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Academic Calender</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Time Table</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle pl-2" role="button" data-toggle="dropdown">
              Programmes
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Graduate</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Post Graduate</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Research/PHD</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle active pl-2" role="button" data-toggle="dropdown">
              Infrastructure
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Land Details</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Saftey Structures</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Computer Center and <br />
                Server Room</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">List of Computers</a>

              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Library</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Class Rooms</a>
              <div class="dropdown-divider"></div>
              <a class="nav-link dropdown-toggle pl-4" role="button" data-toggle="dropdown" href="#"
                style="color: black">Labs</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdrown">
                <a class="dropdown-item" href="./ecelabs.html">ECE LABS</a>

                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="./cselabs.html">CSE LABS</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">SAH LABS</a>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle pl-2" role="button" data-toggle="dropdown">
              TPO
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Placements Status</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">TPO Contact</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Facilities</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Company's Hiring</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Enterpreneuship and <br />
                Recruitment</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Internships</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle pl-2" role="button" data-toggle="dropdown">
              Career
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Job-opening</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item">Outsourcing</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle pl-2" role="button" data-toggle="dropdown">
              MHRD
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">AISHE</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item">IIC</a>
              <div class="dropdown-item"></div>
              <a href="#" class="nav-link dropdown-toggle pl-4" role="button" data-toggle="dropdown"
                style="color: black">
                NIRF
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a href="#" class="dropdown-item">
                  NIRF 2017
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">
                  NIRF 2019
                </a>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle pl-2" role="button" data-toggle="dropdown">
              Fees
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">SBI</a>
            </div>
          </li>

          <li class="nav-item ">
            <a href="./contact.html" class="nav-link pl-2">
              Contact
            </a>
          </li>
          <li class="nav-item">
            <a href="./accessbility.html" class="nav-link  pl-2">
              Accessiblity
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="row mt-1 ">

      <div id="Menu" class="col-md-3 col-12">
        <script>
          $("#Menu").load("./mainMenu.html");
        </script>
      </div>
      <div class="col-md-9 col-12">
        <header align="center" class="mt-4">
          <h6>Govt. of NCT of Delhi</h6>
          <h4 style="font-weight: bold;">AMBEDKAR INSTITUTE OF ADVANCED COMMUNICATION TECHNOLOGIES AND RESEARCH</h4>
          <h6>Geeta Colony, Delhi-110031</h6>
        </header>
        <b>
          <p>ECE Labs Details</p>
        </b>
        <table>
          <tr style="font-weight: bold">
            <td>S.NO.</td>
            <td>Lab Name</td>
            <td>In-charge</td>
            <td>Location</td>
            <td>Size in</td>
            <td>Lab technician/Programmer</td>
            <td>Lab Attendant</td>
            <td>Lab stock Details</td>
          </tr>
          <tr>
            <td>1.</td>
            <td>Electrical Technology Lab</td>
            <td>Mr Avinash kumar</td>
            <td>E-106</td>
            <td>70</td>
            <td>Ankush Kumar Gill</td>
            <td>Th. Budhranjan Singh</td>
            <td>Lab details</td>
          </tr>
          <tr>
            <td>2.</td>
            <td>Analog Electronics Lab</td>
            <td>Dr Arti Jain</td>
            <td>G-401</td>
            <td>125</td>
            <td>PC Joshi</td>
            <td>Parmod</td>
            <td>Lab details</td>
          </tr>
          <tr>
            <td>3.</td>
            <td>Digital System Design Lab</td>
            <td>Ms C S Vinitha</td>
            <td>D-402</td>
            <td>125</td>
            <td>None</td>
            <td>Monu</td>
            <td>Lab details</td>
          </tr>
          <tr>
            <td>4.</td>
            <td>VLSI Design Lab</td>
            <td>Dr. R S Yaduvanshi</td>
            <td>G-204</td>
            <td>125</td>
            <td>None</td>
            <td>Chandra Prakash</td>
            <td>Lab details</td>
          </tr>
          <tr>
            <td>5.</td>
            <td>Electronic Instruments and Measurements Lab</td>
            <td>Prof. Arti M.K.</td>
            <td>G-202</td>
            <td>125</td>
            <td>Ankush Kumar Gill</td>
            <td>Manoj Kumar</td>
            <td>Lab details</td>
          </tr>
          <tr>
            <td>6.</td>
            <td>Telenommunication Network and Measurement Lab</td>
            <td>Dr Richa Bhatia</td>
            <td>D-401</td>
            <td>125</td>
            <td>None</td>
            <td>Krishna Kumar</td>
            <td>Lab details</td>
          </tr>
          <tr>
            <td>7.</td>
            <td>Microwave Engineering Lab</td>
            <td>Dr Garima Srivastava</td>
            <td>C-401,C-402</td>
            <td>250</td>
            <td>None</td>
            <td>Harjeet</td>
            <td>Lab details</td>
          </tr>
          <tr>
            <td>8.</td>
            <td>Microwave Research Lab</td>
            <td>Dr Garima Srivastava</td>
            <td>C-403</td>
            <td>125</td>
            <td>None</td>
            <td>Jitendra Kumar</td>
            <td>Lab details</td>
          </tr>
          <tr>
            <td>9.</td>
            <td>Microprocessor Lab</td>
            <td>Mr D K Raheja</td>
            <td>C-201</td>
            <td>125</td>
            <td>Anil Kumar</td>
            <td>Sonu Nagar</td>
            <td>Lab details</td>
          </tr>
          <tr>
            <td>10.</td>
            <td>Mixed Signal Circuit Design Lab</td>
            <td>Dr R K Sharma</td>
            <td>G-303</td>
            <td>57</td>
            <td>PC Joshi</td>
            <td>Sanniket Kumar</td>
            <td>Lab details</td>
          </tr>
          <tr>
            <td>11.</td>
            <td>Digital Signal Processing Lab</td>
            <td>Dr Rashmi Gupta</td>
            <td>E-207</td>
            <td>125</td>
            <td>None</td>
            <td>Sandeep</td>
            <td>Lab details</td>
          </tr>
          <tr>
            <td>12.</td>
            <td>Digital Image Processing Research Lab</td>
            <td>Dr Rashmi Gupta</td>
            <td>H-204</td>
            <td>48</td>
            <td>None</td>
            <td>Supriya</td>
            <td>Lab details</td>
          </tr>
          <tr>
            <td>13.</td>
            <td>Control Systems and Mathematical Computation Lab</td>
            <td>Dr sanjeev Kumar</td>
            <td>H-404</td>
            <td>95</td>
            <td>None</td>
            <td>Alok</td>
            <td>Lab details</td>
          </tr>
          <tr>
            <td>14.</td>
            <td>Digital Communication Lab</td>
            <td>Mr M Gangadharappa</td>
            <td>E-206</td>
            <td>125</td>
            <td>Anil Kumar</td>
            <td>Sandeep</td>
            <td>Lab details</td>
          </tr>
          <tr>
            <td>15.</td>
            <td>Optical Communication Lab</td>
            <td>Ms Manisha Khulbe</td>
            <td>F-206</td>
            <td>28</td>
            <td>None</td>
            <td>Kuldeep</td>
            <td>Lab details</td>
          </tr>
          <tr>
            <td>16.</td>
            <td>Consumer Electronics Lab</td>
            <td>Dr Sanjeev Kumar</td>
            <td>F-206</td>
            <td>28</td>
            <td>None</td>
            <td>None</td>
            <td>Lab details</td>
          </tr>
          <tr>
            <td>17.</td>
            <td>EMI/EMC Lab</td>
            <td>Prof. Ashok Mittal</td>
            <td>F-402</td>
            <td>110</td>
            <td>None</td>
            <td>Parmod</td>
            <td>Lab details</td>
          </tr>
          <tr>
            <td>18.</td>
            <td>RF and Passive Circuit Design Lab</td>
            <td>Mr D K Raheja+Prof. Ashok Mittal</td>
            <td>F-205</td>
            <td>28</td>
            <td>None</td>
            <td>Sanniket Kumar</td>
            <td>Lab details</td>
          </tr>
          <tr>
            <td>19.</td>
            <td>Embedded Systems Lab</td>
            <td>Dr R S Yaduvanshi</td>
            <td>G-203</td>
            <td>125</td>
            <td>None</td>
            <td>Chandra Prakash</td>
            <td>Lab details</td>
          </tr>
          <tr>
            <td>20.</td>
            <td>Wireless Communication Lab</td>
            <td>Dr Aarti Jain</td>
            <td>H-304</td>
            <td>48</td>
            <td>Jitendra Kumar Sharma</td>
            <td>Deepak</td>
            <td>Lab details</td>
          </tr>
          <tr>
            <td>21.</td>
            <td>Satllite Communication Lab</td>
            <td>Dr R S Yaduvanshi</td>
            <td>D-404</td>
            <td>48</td>
            <td>None</td>
            <td>Chandra Prakash</td>
            <td>Lab details</td>
          </tr>
          <tr>
            <td>22.</td>
            <td>PCP Lab</td>
            <td>Dr Garima Srivasta</td>
            <td>C-404</td>
            <td>48</td>
            <td>None</td>
            <td>Jitender Kumar</td>
            <td>Lab details</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</body>

</html>