
    <ul class="list-group ">
        <li id="mainMenu" class="list-group-item" onclick="menuToggler()">Main Menu</li>
        <li class="list-group-item mainMenu"><a class="list" href="">Principal's Desk</a></li>
        <li class="list-group-item mainMenu"><a class="list" href="">Vision & Mission</a></li>
        <li class="list-group-item mainMenu"><a class="list" href="">Commitees</a></li>
        <li class="list-group-item mainMenu"><a class="list" href="">Student-Counselling</a></li>
        <li class="list-group-item mainMenu"><a class="list" href="">Student Welfare & scholarship</a></li>
        <li class="list-group-item mainMenu"><a class="list" href="">Student Activities</a></li>
        <li class="list-group-item mainMenu"><a class="list" href="">Student Evaluation</a></li>
        <li class="list-group-item mainMenu"><a class="list" href="">Right to Information 2001 and 2005</a></li>
        <li class="list-group-item mainMenu"><a class="list" href="">Manual Related to AIACTR prepared by RTI commitee</a></li>
        <li class="list-group-item mainMenu"><a class="list" href="">RTI/Appeals and Act</a></li>
        <li class="list-group-item mainMenu"><a class="list" href="">Information Published under RTI Act</a></li>
        <li class="list-group-item mainMenu"><a class="list" href="">Fifth Delhi Finance Commission (DFC) studies related Documents</a></li>
        <li class="list-group-item mainMenu"><a class="list" href="">E-governance</a></li>
        <li class="list-group-item mainMenu"><a class="list" href="">Faculty Form</a></li>
        <li class="list-group-item mainMenu"><a class="list" href="">FAQ</a></li>
        <li class="list-group-item mainMenu"><a class="list" href="">Citizen Charter</a></li>
        <li class="list-group-item mainMenu"><a class="list" href="">Mandtory Disclosure</a></li>
    </ul>
