body {
  user-select: none;
}
#nav {
  font-size: 0.88rem;
  margin-top: 20px;
  min-height: 50px;
}

.navbar-nav > li > a {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}

.dropdown-menu {
  background-color: lightcyan;
}

button.navbar-toggler {
  font-size: 0.5rem;
}

.list {
  font-size: 0.8rem;
  list-style: none;
  color: black;
  margin: 0px;
}
.list-group-item {
  padding: 0px;
  padding-left: 5px;
  border: 1px solid black;
}
.list:hover {
  text-decoration: none;
  color: grey;
}
#mainMenu,
#ragging,
#events,
#important-links,
#Affiliations {
  
  margin-top: 10px;
  background-color: grey;
  color: white;
  font-weight: 500;
  border: none;
  padding: 5px;
  user-select: none;
  cursor: pointer;

}
.dropdown-item:hover {
  background-color: blue;
  color: white;
}

li > div.dropdown-menu {
  padding-left: 00px;
}

@media only screen and (max-width: 767px) {
  ul > li > a {
    margin-left: -20px;
  }
}
